<component name="libraryTable">
  <library name="spring-test-3.1.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-test/3.1.4.RELEASE/jar/95bf2039588f5318a92202531b3c123c5f1bc7c9/spring-test-3.1.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-test/3.1.4.RELEASE/source/6fde7cef248bf106719a4f22696cb2a4eac7db98/spring-test-3.1.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>